# -----------------------------
# Verilator Build Artifacts
# -----------------------------
obj_dir/
sim/

# -----------------------------
# Waveforms
# -----------------------------
*.vcd
*.fst
*.gtkw

# -----------------------------
# Compiler / Build Files
# -----------------------------
*.o
*.d

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Backup Files
# -----------------------------
*~
*.swp
*.swo

